*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 100%;
}
.menu-button-holder{
    display: none;
}
.header{
    width: 100%;
    height:100px;
    background: #595B5D;
}
.flaticon-logotype5 {
    color: white;
    margin-top: 21px;
    display: inline-block;
    float: left;
}
.flaticon-logotype5:before{
    font-size: 45px !important;
}
.menu-wrapper{
    float:right;
}
.menu-list {
    list-style-type: none;
    float: left;
    color: white;
    padding: 41px;
}
.menu-list:hover{
    background: #34A4E4;
    cursor: pointer;
}
/*CSS FOR THE HEADER ENDS HERE */
/*CSS FOR THE SECOND SECTION STARTS HERE */
.sec-sec {
    position: relative;
    background: url("images/banner.jpeg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 100%;
}
.main-content>h1{
    color:white;
    text-align: center;
}
.main-content>p{
    color:#D0B3B3;
    margin-top: 30px;
    font-size:20px;
    text-align: center;
    justify-content: center;
}
.main-content{
/*    margin: auto;*/
/*    width: 700px;*/
    padding-top: 129px;
}
.box-container{
    width: 750px;
    position: relative;
    bottom: -270px;
    margin: auto;
}
.box1 ,.box2,.box3{
    display: inline-block;
    width: 200px;
    background: white;
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(105,97,105,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(105,97,105,1);
    box-shadow: 0px 2px 5px 0px rgb(16, 16, 16);
}
.flaticon-html10:before{
    font-size: 30px !important;
    color: #34A4E4;
    padding-left: 6px;
}
h2.box-heading {
    text-align: center;
}
p.box-content {
    text-align: center;
}
/*CSS FOR THE SECOND SECTION ENDS HERE */

/*    CSS FOR THE ABOUT SECTION STARTS HERE*/
.about-sec {
    margin-top: 120px;
    padding: 20px;
    width: 1005;
    width: 100%;
}
h1.about-heading {
    color: #34A4E4;
    text-decoration: underline;
}
p.about-content {
    margin-top: 10px;
    color:grey;
}
/*    CSS FOR THE ABOUT SECTION ENDS HERE*/

/*CSS FOR THE SERVICESSE TION STARTS HERE */
.services-wrapper{
    background: url(images/service.jpeg);
    width: 100%;
    height: auto;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
}
.services-list{
    width:700px;
    margin:auto;
}
.services-heading{
    padding-top: 30px;
    color:white;
    text-align:center;
}

.services {
    width: 300px;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 24px;
}
/*CSS FOR THE SERVICESSE TION ENDS HERE */
/*CSS FOR THE FOOTER STARTS HERE*/
.footer{
    width:100%;
    height:100px;
    background: #595B5D;
    display: table;
}
.footer-name {
    color: white;
    display: inline-block;
    margin-top: 25px;
    margin-left: 14px;
    font-size: 22px;
    float: left;
}
.footer-logo:before{
    font-size: 30px !important;
}
span.flaticon-facebook2,span.flaticon-instagram19 ,span.flaticon-logotype191{
    color: white;
}
.social-networks {
   display: inline-block;
    float: left;
}
div#googleMap{
        width: 100px !important;
    height: 100px !important;
    position: relative;
    overflow: hidden;
    transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
    /* display: table-cell; */
    float: right;
}
p.footer-info {
    display: table-cell;
    vertical-align: middle;
    color: white;
    width: 200px;
}
.footer-logos {
    width: 195px;
    display: inline-block;
}
p.footer-info {
       display: inline;
    color: white;
    width: 200px;
    float: left;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
}

@media only screen  and (min-width:461px) and (max-width: 767px) {
body{
    font-size:50%;
}
.box-container {
    width: 425px;
}
.box1, .box2, .box3{
    width: 120px;
    margin-right: 10px;
    margin-left: 10px;
}
.box-container{
        bottom: -340px;
}
.services{
        width: 100%;
        margin: auto;
    padding: 38px;
}
.services-list{
    width: auto;
    margin: 0px;
}
.menu-list{
        padding: 45px;
    padding-right: 20px;
    padding-left: 20px;
}
}
@media only screen and (max-width:460px){
body{
    font-size:50%;
}
.menu-button-holder{
    display: block;
    float: right;
}
img.menu-button {
    height: 30px;
    margin: 32px;
}
.menu-wrapper{
    display: none;
}
.box-container {
    width: 100%;
    position: relative;
    bottom: -375px;
    /* margin: auto; */
}
.box1, .box2, .box3{
    width: 90%;
    margin-top: 20px;
    margin:15px;
}
.flaticon-html10:before{
    margin-left:165px;
}
.services-list {
    width: 100%;
  
}
.services {
    width: 88%;
    margin-top: 24px;
      margin:15px;
}
.about-sec {
    margin-top: 460px;
}
.main-content>h1{
        font-size: 20px;
}
.social-networks{
     width:100%;
    float:none;
}
.footer-logos,p.footer-info{
    width:100%;
    float:none;
    display: block;
    text-align: center;
}
        
div#googleMap{
    display: none;
}
p.footer-info{
    position: static;
    margin-bottom:12px;
}
.flaticon-logotype5,.footer-name{
    float:none;
}
}

/*CSS FOR THE FOOTER STARTS HERE*/

/*CSS FOR THE TABLETS STATRS HERE */
/*@media only screen  and (max-width: 767px) {
body{
    font-size: 12px;
}
.box-container{
    width: 600px;
}
.box1 ,.box2,.box3{
    display: inline-block;
    width: 157px;
}
.services-list {
    width: 600px;
}
.services{
    width: 250px;
}
}
@media only screen  and (max-width: 570px){
.box-container {
    width: 495px;
}
.box1, .box2, .box3{
    width: 157px;
}
.services {
    width: 250px;
    margin: 9px;
}
.services-list {
    width: 541px;
}
}*/
/*CSS FOR THE TABLETS ENDS HERE */
 