*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}
body{
    font-size:62.5%
}

.header{
    width: 100%;
    height:100px;
    background: #595B5D;
}
.flaticon-logotype5 {
    color: white;
    margin-top: 01.662707838%;
    display: inline-block;
    float: left;
}
.flaticon-logotype5:before{
    font-size: 4.5em !important;
}
.menu-icon-holder {
    display: none;
}
.menu-button-holder{
    display: none;
}
.menu-wrapper{
    float:right;
    width: 53.588282%;
    height: 100%;
}
.menu-list {
    list-style-type: none;
    float: left;
    color: white;
    /*    padding: 01.683547031%;*/
    padding: 4%;
    padding-top: 6.0001%;
    width: auto;
    font-size: 1.6em;
    height: 100%;
}
.menu-list:hover{
    background: #34A4E4;
    cursor: pointer;
}
/*CSS FOR THE HEADER ENDS HERE */
/*CSS FOR THE SECOND SECTION STARTS HERE */
.sec-sec {
    position: relative;
    background: url("images/banner.jpeg");
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    width: 100%;
}
.main-content>h1{
    color:white;
    text-align: center;
    font-size: 2em;
}
.main-content>p{
    color:#D0B3B3;
    margin-top: 02.375296912%;
    font-size:1.6em;
    text-align: center;
    justify-content: center;
}
.main-content{
/*    margin: auto;*/
/*    width: 700px;*/
    padding-top: 10.213776722%;
    width:100%;
}
.box-container{
    width: 59.382422802%;
    position: relative;
    bottom: -100px;
    margin: auto;
}
.box1 ,.box2,.box3{
    height: 116px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 26.666666666%;
    background: white;
    padding: 2.6666666666%;
    margin: 2.6666666666%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(105,97,105,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(105,97,105,1);
    box-shadow: 0px 2px 5px 0px rgb(16, 16, 16);
}
.flaticon-html10:before{
    display: block;
    text-align: center;
    font-size: 30px !important;
    color: #34A4E4;
    margin-left:0px !important;
}
h2.box-heading {
    text-align: center;
}
p.box-content {
    text-align: center;
}
/*CSS FOR THE SECOND SECTION ENDS HERE */

/*    CSS FOR THE ABOUT SECTION STARTS HERE*/
.about-sec {
    margin-top: 15.978695073%;
    padding: 01.583531274%;
    width: 100%;
}
h1.about-heading {
    color: #34A4E4;
    text-decoration: underline;
}
p.about-content {
    margin-top: 0.817661488%;
    color:grey;
}
/*    CSS FOR THE ABOUT SECTION ENDS HERE*/

/*CSS FOR THE SERVICESSE TION STARTS HERE */
.services-wrapper{
    background: url(images/service.jpeg);
    width: 100%;
    height: auto;
    opacity: 0.8;
}
.services-list{
    width:93.209054593%;
    margin:auto;
}
.services-heading{
    padding-top: 02.375296912%;
    color:white;
    text-align:center;
}

.services {
    width: 42.857142857%;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 03.428571428%;
}
/*CSS FOR THE SERVICESSE TION ENDS HERE */
/*CSS FOR THE FOOTER STARTS HERE*/
.footer{
    width:100%;
    height:100px;
    background: #595B5D;
    display: table;
}
.footer-name {
    color: white;
    display: inline-block;
    margin-top: 28.973131233%;
    margin-left: 16px;
    font-size: 1.6em;
    float: left;
}
.footer-logo:before{
    font-size: 3em !important;
    
}
.footer-logo{
    margin-top: 12.82051282%;
}
span.flaticon-facebook2,span.flaticon-instagram19 ,span.flaticon-logotype191{
    color: white;
}
.social-networks {
    display: inline-block;
    float: left;
}
div#googleMap{
    width: 07.917656373% !important;
    height: 100px !important;
    position: relative;
    overflow: hidden;
    transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
    float: right;
}
/*
p.footer-info {
    display: table-cell;
    vertical-align: middle;
    color: white;
    width: 200px;
}
*/
.footer-logos {
    width: 26.6311584555%;
    display: inline-block;
    position: relative;
}
p.footer-info {
    display: inline;
    color: white;
    width: 15.835312747%;
    float: left;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 1.5835312747%;
}

p.box-content,.about-sec,.services-wrapper,.footer{
    font-size: 1.4em;
}
@media only screen  and (min-width:461px) and (max-width: 767px) {
    body{
        font-size: 40%;
    }
    
   
    .header{
        height: 50px;
    }
    .about-sec {
    margin-top: 100px;
    }
    .flaticon-facebook2:before,.flaticon-logotype191:before,.flaticon-instagram19:before{
        margin-left: 10px !important;
    }
    .footer-logos{
        width:290px;
    }
    .footer-logo{
        margin-top: 26px;
    }
    .box-container{
        width: 406px;
    }
    .box1, .box2, .box3{
        width: 110px;
    }
}
@media only screen and (max-width:460px){
    body{
        font-size: 30%;
    }
    .header{
        height:50px;
    }
    .menu-icon-holder{
        padding: 9px;
        display: block;
        float:right;
    }
    .menu-icon{
        height: 20px;
        width: 20px;
    }
    .menu-wrapper{
        display: none;
    }
    .sec-sec{
        height: 200px;
    }
    .box-container{
        position: relative;
        bottom: -160px;
    }
    .about-sec {
        margin-top: 410px;
    }
    .box1, .box2, .box3 {
        width: 100%;
    }
    .footer-logos{
        width: 100%;
    }
    .footer-logo,.footer-name,.social-networks,p.footer-info{
        display: block;
         float: none; 
        text-align: center;

    }
    .footer-name{
        margin-top: 0px;
        margin-left:0px;
    }
    p.footer-info{
        width:100%;
        position: static;
    }
    span.flaticon-facebook2:before, span.flaticon-instagram19:before, span.flaticon-logotype191:before,.footer-logo:before{
        margin-left: 5px !important;
    }
    
    div#googleMap{
        display: none;
    }
}